a {
    color: black;
}
a:active{
    color: red;
}

.d-line-block{
    width: 2em;
    height: 2em;
}

.navbar-nav > .nav-item > .nav-link{
    color: black;
}

nav.bg-light{
    background-color: cornflowerblue !important;
}

body{
    background-color: bisque;
}

/* Home Page */
.buttons{
    text-align: center;
}
/*Checklist*/
ol.lowerLetter{
    list-style-type: lower-alpha;
}

.content{
    margin: .2em 0em .2em .2em;
}

.btn{
    background-color: lightslategrey;
}

hr.line{
    margin: 2rem auto 2rem;
    height: 1rem;
    border: 1rem solid blue;
    opacity: 100%;
    colspan: 100%;
    width: 95%;

}

hr.road{
    margin: 2rem auto 1rem;

    height: 2rem;
    border-top: .75rem solid slategrey;
    border-bottom: .75rem solid slategrey;
    color: yellow;
    opacity: 100%;
}

.btn-spaces{
    margin: 1rem 0rem 1rem 0rem;
}


#emptyTable{
    width:95%;
    text-align:center;
    border-collapse:collapse;
    border: none;
}
#table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.water{
    border-style: hidden !important;
}

#front{
    margin:2rem auto 2rem;
    padding-bottom: 2rem;
    width: 80%;
    border: .5rem dashed black;
    opacity: 100%;
}

.navbar-nav > .nav-item > a:hover{
    background-color: mintcream;
}

nav.navbar-light >.container-fluid>.navbar-brand:hover{
    background-color: mintcream !important;
}

h4 {
    font-family: fantasy,sans-serif;
}

.help{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
